body{
    margin: 0;
}
.header-container{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo{
    margin-left: 65px;
    margin-top: 5px;
    height: 78px;
    width: 85px;
}
.header-container>ul{
    margin-right: 65px;
    display: flex;
}
.header-container>ul>li{
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
    font-size: 17px;
    font-weight: 550;
    color: #5CA43D;
    list-style-type: none;
}
.login-btn{
    height: 40px;
    width: 70px;
    background-color: #5CA43D; /* Green */
    border: none;
    margin: 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.search-bar{
    display: flex;
    justify-content: center;
}
.search-bar>input{
    width: 550px;
    margin: 30px;
    border: 2px solid #5CA43D;
    border-radius: 50px;
}
.search-bar>input[type=text] {
    padding: 6px;
    font-size: 14px;
}

.filter-btn {
    height: 50px;
    background-color: #5CA43D; /* Green */
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 85px;
    cursor: pointer;
  }

.resturant-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}
.resturant-card{
    margin: 60px;
    width: 200px;
    border-radius: 10px;
    border: 3px solid #5CA43D;
    background-color: #97da7a;
    padding: 5px;
}

.resturant-card>img{
    width: 100%;
}

.search-shimmer-container{
    display: flex;
    justify-content: center;
}
.search-shimmer{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    width: 550px;
    height: 22px;
    margin: 30px;
    border-radius: 50px;
}
.cards-shimmer-container{
    display: flex;
    justify-content: center;
}
.cards-shimmer{
    background-color: lightgray;
    margin: 60px;
    width: 200px;
    height: 400px;
    border-radius: 10px;
}